<div
  class="p-10 bg-neutral-900 rounded-lg flex flex-col justify-center items-center gap-8"
>
  <section class="grid place-items-center overflow-hidden flex-1">
    <i-tabler class="!w-28 !h-28 text-neutral-500" name="info-square-rounded" />
  </section>
  <section class="flex flex-col justify-center items-center gap-3">
    <p>There are no sources yet. Add a source to get started.</p>
    <button type="button" class="btn primary" pButton>
      <i-tabler name="plus" />
      Add Source
    </button>
  </section>
</div>
