@if (displayedFiles().length) {
<app-uploaded-sources-table [uploadedFiles]="displayedFiles()" />
<section class="mt-8 flex items-center flex-nowrap justify-end gap-4">
  @if (displayedFiles().length > 1) {
  <button type="button" pButton class="btn danger" (click)="removeAll()">
    <i-tabler name="trash" />
    <span>Remove all</span>
  </button>
  }
  <button type="button" pButton class="btn primary" (click)="upload()">
    <i-tabler name="upload" />
    @if(displayedFiles().length > 1){
    <span>Upload all</span>
    } @else {
    <span>Upload</span>
    }
  </button>
</section>
} @if (!isMaxFileLimitExceeded()) {
<section class="mb-4 mt-8">
  <p class="dark:text-neutral-300">
    You can upload up to {{ remainingFilesNumber() }} files each up to
    {{ maxFileSize | formatFileSize }}.
  </p>
</section>
<app-file-loader
  accept="application/pdf"
  [multiple]="true"
  [maxSize]="maxFileSize"
  [cleanValue]="!displayedFiles().length"
  (uploadedFiles)="onUploadedFiles($event)"
/>

}
