<div class="flex justify-end">
  <p class="!mb-4 !mx-0 !p-0 text-cyan-400">
    {{ numberOfUploadedFiles() }} file{{
      numberOfUploadedFiles() > 1 ? "s" : ""
    }}
  </p>
</div>
<section class="flex flex-nowrap flex-col gap-1" role="table">
  <div
    class="grid grid-cols-[1fr_30%_20%] sm:grid-cols-[1fr_20%_20%] gap-2 font-medium"
  >
    <span>Name</span>
    <span>Size</span>
  </div>
  @for (uploadedFile of uploadedFiles(); track uploadedFile.file.name; let index
  = $index) {
  <app-uploaded-sources-table-row
    [uploadedFile]="uploadedFile"
    [index]="index"
  />
  } @if (numberOfUploadedFiles() > 1) {
  <div
    class="grid grid-cols-[1fr_30%_20%] sm:grid-cols-[1fr_20%_20%] gap-2 font-medium"
  >
    <span></span>
    <span class="text-cyan-400"> {{ totalSize() | formatFileSize }}</span>
  </div>
  }
</section>
