<div class="p-5 flex flex-col gap-5">
  @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  } @for (sourceForm of sourcesFormControls; track $index) {
  <app-template-source [source]="sourceForm.value" />
  }
</div>

<p-speedDial
  [model]="buttons"
  radius="100"
  direction="up-left"
  type="quarter-circle"
  class="block fixed bottom-16 right-28"
  [visible]="true"
  [rotateAnimation]="false"
  [mask]="true"
  buttonClassName="flex items-center justify-center w-full h-full rounded-none"
>
  <ng-template pTemplate="button">
    <div
      class="flex items-center justify-center gap-2 flex-nowrap px-4 py-2 rounded-lg dark:bg-[var(--primary-color)] dark:hover:bg-[var(--highlight-bg)] backdrop-blur-lg transition-colors"
    >
      <i-tabler name="plus"></i-tabler>
      <span>ADD</span>
    </div>
  </ng-template>
  <ng-template pTemplate="item" let-item>
    <div
      (click)="addSource(item.id)"
      class="grid place-items-center p-3 dark:bg-[var(--surface-border)] dark:hover:bg-[var(--primary-color)] transition-colors rounded-full cursor-pointer"
    >
      <i-tabler [name]="item.icon"></i-tabler>
    </div>
  </ng-template>
</p-speedDial>
