<div class="flex flex-col gap-5 h-full">
  @if (hasSources()) {
  <p>{{ sourceNumberInfo }}</p>
  } @for (sourceForm of sourcesFormControls(); track sourceForm.value._id) {
  <app-template-source [source]="sourceForm.value" />
  } @empty {
  <div class="grid place-items-center h-full">
    <app-empty-state />
  </div>
  }
</div>

<div class="fixed right-20 bottom-20">
  <p-speedDial
    [model]="buttons"
    radius="80"
    direction="up-left"
    type="quarter-circle"
    [visible]="showButtons()"
    (visibleChange)="showButtons.set($event)"
    [rotateAnimation]="true"
    [disabled]="disableAddSourceBtn()"
    buttonClassName="flex items-center justify-center w-full h-full rounded-none"
  >
    <ng-template pTemplate="button">
      <div
        class="grid place-items-center p-3.5 shadow rounded-full dark:bg-cyan-900 dark:hover:bg-cyan-800 backdrop-blur transition-colors"
      >
        <i-tabler name="plus"></i-tabler>
      </div>
    </ng-template>
    <ng-template pTemplate="item" let-item>
      <div
        (click)="addSource(item.id)"
        class="grid place-items-center p-3.5 shadow dark:bg-neutral-700 dark:hover:bg-neutral-600 transition-colors rounded-full cursor-pointer"
      >
        <i-tabler [name]="item.icon" class="{{ item.styleClass }}"></i-tabler>
      </div>
    </ng-template>
  </p-speedDial>
</div>
