<div class="p-5 flex flex-col gap-5 pb-24">
  <p>{{ sourceNumberInfo }}</p>
  @for (sourceForm of sourcesFormControls(); track sourceForm.value._id) {
  <app-template-source [source]="sourceForm.value" />
  }
</div>

<div class="fixed right-20 bottom-20">
  <p-speedDial
    [model]="buttons"
    radius="80"
    direction="up-left"
    type="quarter-circle"
    [visible]="isShownButtons()"
    (visibleChange)="isShownButtons.set($event)"
    [rotateAnimation]="true"
    buttonClassName="flex items-center justify-center w-full h-full rounded-none"
  >
    <ng-template pTemplate="button">
      <!-- <div
        class="flex items-center justify-center gap-2 flex-nowrap w-28 px-4 py-2 rounded-lg dark:bg-cyan-500/20 dark:hover:bg-cyan-400/20 backdrop-blur transition-colors"
      >
        @if (isShownButtons()) {
        <i-tabler name="x"></i-tabler>
        <span>CLOSE</span>
        } @else {
        <i-tabler name="plus"></i-tabler>
        <span>ADD</span>
        }
      </div> -->
      <div
        class="grid place-items-center p-3.5 shadow rounded-full dark:bg-cyan-900 dark:hover:bg-cyan-800 backdrop-blur transition-colors"
      >
        <i-tabler name="plus"></i-tabler>
      </div>
    </ng-template>
    <ng-template pTemplate="item" let-item>
      <div
        (click)="addSource(item.id)"
        class="grid place-items-center p-3.5 shadow dark:bg-neutral-700 dark:hover:bg-neutral-600 transition-colors rounded-full cursor-pointer"
      >
        <i-tabler [name]="item.icon" class="{{ item.styleClass }}"></i-tabler>
      </div>
    </ng-template>
  </p-speedDial>
</div>
