<p class="!mx-0 !mb-0 dark:text-neutral-400">
  These are the credentials that will be used to generate the embeddings and
  completions.
</p>
<section class="mt-8">
  <h4>Embedder Credential</h4>
  <form #eForm="ngForm" class="my-2 flex flex-col gap-4">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <div class="flex flex-col gap-1">
        <label for="eBrandId" class="dark:text-neutral-400">Brand</label>
        <p-dropdown
          required
          styleClass="w-full max-w-full"
          inputId="eBrandId"
          name="brandId"
          [options]="embedderBrands"
          [ngModel]="embedderCredential.brandId"
          (ngModelChange)="updateEmbedderBrand($event)"
          optionLabel="name"
          optionValue="value"
          placeholder="Select a brand"
          appendTo="body"
        />
      </div>
      <div class="flex flex-col gap-1">
        <label for="eModelName" class="dark:text-neutral-400">Model</label>
        <p-dropdown
          required
          styleClass="w-full max-w-full"
          inputId="eModelName"
          name="modelName"
          [options]="emebedderModels"
          [(ngModel)]="embedderCredential.modelName"
          optionLabel="name"
          optionValue="name"
          placeholder="Select a model name"
          appendTo="body"
        />
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <label for="eApiKey" class="dark:text-neutral-400">API key</label>
      <input
        [pattern]="apiKeyRegex"
        required
        id="eApiKey"
        type="text"
        pInputText
        class="h-9 p-3"
        name="apiKey"
        [(ngModel)]="embedderCredential.apiKey"
      />
    </div>
  </form>
</section>
<section class="mt-8">
  <h4>LLM Credential</h4>
  <form #lForm="ngForm" class="my-2 flex flex-col gap-4">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <div class="flex flex-col gap-1">
        <label for="lBrandId" class="dark:text-neutral-400">Brand</label>
        <p-dropdown
          required
          styleClass="w-full max-w-full"
          inputId="lBrandId"
          name="brandId"
          [options]="LLMBrands"
          [ngModel]="LLMCredential.brandId"
          (ngModelChange)="updateLLMBrand($event)"
          optionLabel="name"
          optionValue="value"
          placeholder="Select a brand"
          appendTo="body"
        />
      </div>
      <div class="flex flex-col gap-1">
        <label for="lModelName" class="dark:text-neutral-400">Model</label>
        <p-dropdown
          required
          styleClass="w-full max-w-full"
          inputId="lModelName"
          name="modelName"
          [options]="LLModels"
          [(ngModel)]="LLMCredential.modelName"
          optionLabel="name"
          optionValue="name"
          placeholder="Select a model name"
          appendTo="body"
        />
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <label for="lApiKey" class="dark:text-neutral-400">API key</label>
      <input
        [pattern]="apiKeyRegex"
        required
        id="lApiKey"
        type="text"
        pInputText
        class="h-9 p-3"
        name="apiKey"
        [(ngModel)]="LLMCredential.apiKey"
      />
    </div>
  </form>
</section>
<section class="mt-8 flex items-center justify-end gap-4">
  <button (click)="close()" type="button" pButton class="btn danger">
    <i-tabler name="x" />
    <span>Cancel</span>
  </button>
  <button
    (click)="confirm()"
    [disabled]="!eForm.valid || !lForm.valid || (!eForm.dirty && !lForm.dirty)"
    type="button"
    pButton
    class="btn primary"
  >
    <i-tabler name="check" />
    <span>Confirm</span>
  </button>
</section>
