<div class="flex flex-col justify-center items-center gap-3">
  <h2>FORM:</h2>
  <pre>
    {{ form.value | json }}
  </pre>

  <hr class="w-80" />
  <h2>ITEMS:</h2>
  @for (item of itemsControls; track $index) {
  <div class="grid place-items-center">
    <div (click)="deleteOne($index)">X</div>
    <pre>
      {{ item.value | json }}
    </pre>
  </div>
  }
</div>

<footer class="flex flex-col gap-3 mt-4">
  <button class="btn danger justify-center" (click)="delete()">Delete</button>
  <button class="btn primary justify-center" (click)="add()">Add</button>
</footer>
