@if (displayedFiles().length) {
<app-uploaded-sources-table [uploadedFiles]="displayedFiles()" />
<section class="my-8 flex items-center flex-nowrap justify-end gap-2">
  <button type="button" pButton class="btn primary">
    <i-tabler name="upload" />
    <span>Upload</span>
  </button>
</section>
}

<section class="my-4">
  <p class="dark:text-neutral-300">
    You can upload up to {{ maxFiles }} files each up to
    {{ maxFileSize | formatFileSize }}.
  </p>
</section>

<app-file-loader
  accept="application/pdf"
  [multiple]="true"
  [maxSize]="maxFileSize"
  (uploadedFiles)="onUploadedFiles($event)"
/>
