<p-panel [collapsed]="true" styleClass="overflow-hidden">
  <ng-template pTemplate="header">
    @if (sourceType() === type.PDF) {
    <div class="flex items-center gap-2 flex-nowrap">
      <i-tabler
        name="file-type-pdf"
        class="flex-shrink-0"
        class="text-cyan-400"
      ></i-tabler>
      <span class="line-clamp-1 flex-1">{{ sourceName() }}</span>
    </div>
    }
  </ng-template>
  <ng-template pTemplate="icons">
    <button
      type="button"
      pButton
      (click)="showDeleteDialog.set(true)"
      class="icon danger"
    >
      <i-tabler name="x"></i-tabler>
    </button>
  </ng-template>
  <!-- <ng-template pTemplate="footer"> FOOTER </ng-template> -->
  <!-- CONTENT -->
</p-panel>

<p-dialog
  header="Header"
  [visible]="showDeleteDialog()"
  (visibleChange)="showDeleteDialog.set($event)"
  [modal]="true"
>
  <ng-template pTemplate="header"> Delete source </ng-template>
  <ng-template pTemplate="closeicon">
    <button type="button" pButton class="icon danger">
      <i-tabler name="x"></i-tabler>
    </button>
  </ng-template>
  <span class="p-text-secondary block mb-5"
    >Are you sure you want to delete the source?</span
  >
  <ng-template pTemplate="footer">
    <div class="flex gap-4 items-center flex-nowrap justify-end">
      <p-button
        (onClick)="showDeleteDialog.set(false)"
        label="Cancel"
        [text]="true"
        severity="secondary"
      />
      <p-button
        (onClick)="deleteSource()"
        label="Yes"
        [outlined]="true"
        severity="secondary"
      />
    </div>
  </ng-template>
</p-dialog>
