<h1>Welcome to Template</h1>

<div class="grid place-items-center text-sm">
  <p-selectButton
    [ngModel]="currentNavigation()"
    (ngModelChange)="currentNavigation.set($event)"
    [options]="templateButtons"
    optionLabel="name"
    optionValue="navigateTo"
    [unselectable]="true"
    (onOptionClick)="onOptionClick($event)"
  >
    <ng-template let-item pTemplate>
      <a class="flex items-center flex-nowrap justify-center gap-1 z-10">
        <i-tabler [name]="item.icon"></i-tabler>
        <span>{{ item.name }}</span>
      </a>
    </ng-template>
  </p-selectButton>
</div>

<router-outlet></router-outlet>
