<div class="flex flex-col gap-4 h-full">
  @if (hasPrompts()) {
  <div class="grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    @for (prompt of prompts(); track $index) {
    <app-template-completion [prompt]="prompt" />
    }
  </div>
  } @else {
  <div class="grid place-items-center h-full">
    <app-empty-state>
      <p>There are no completions yet!</p>
      <p>
        Start by adding a source or writing a prompt if you already have one.
      </p>
      <div class="flex gap-2 flex-col sm:flex-row w-full sm:w-auto">
        <button
          (click)="navigateTo('sources')"
          type="button"
          class="btn primary flex-1 whitespace-nowrap"
        >
          <i-tabler name="align-center" />
          See sources
        </button>
        <button
          (click)="navigateTo('prompts')"
          type="button"
          class="btn secondary flex-1 whitespace-nowrap"
        >
          <i-tabler name="message" />
          See Prompts
        </button>
      </div>
    </app-empty-state>
  </div>
  }
</div>
