<p-fileUpload
  name="myfile[]"
  accept="application/pdf"
  [maxFileSize]="1024 * 1024 * 2"
  (onSelect)="onFileSelect($event)"
>
  <ng-template
    pTemplate="header"
    let-files
    let-chooseCallback="chooseCallback"
    let-clearCallback="clearCallback"
    let-uploadCallback="uploadCallback"
  >
    <div class="flex">
      <button pButton (click)="chooseCallback($event)">Upload</button>
    </div>
  </ng-template>
  <ng-template
    pTemplate="content"
    let-files
    let-uploadedFiles="uploadedFiles"
    let-removeFileCallback="removeFileCallback"
    let-removeUploadedFileCallback="removeUploadedFileCallback"
  >
    CONTENT:
    <pre>{{ files | json }}</pre>
  </ng-template>
  <!-- <ng-template pTemplate="empty">
    <div class="flex align-items-center justify-content-center flex-column">
      <i
        class="pi pi-cloud-upload border-2 border-circle p-5 text-8xl text-400 border-400"
      ></i>
      <p class="mt-4 mb-0">Drag and drop files to here to upload.</p>
    </div>
  </ng-template> -->
</p-fileUpload>
