<p-fileUpload
  name="myfile[]"
  url="https://www.primefaces.org/cdn/api/upload.php"
  [multiple]="true"
  accept="image/*"
  maxFileSize="1000000"
>
  <ng-template
    pTemplate="header"
    let-files
    let-chooseCallback="chooseCallback"
    let-clearCallback="clearCallback"
    let-uploadCallback="uploadCallback"
  >
    HEADER
  </ng-template>
  <ng-template
    pTemplate="content"
    let-files
    let-uploadedFiles="uploadedFiles"
    let-removeFileCallback="removeFileCallback"
    let-removeUploadedFileCallback="removeUploadedFileCallback"
  >
    CONTENT
  </ng-template>
  <ng-template pTemplate="file"> </ng-template>
  <ng-template pTemplate="empty">
    <div class="flex align-items-center justify-content-center flex-column">
      <i
        class="pi pi-cloud-upload border-2 border-circle p-5 text-8xl text-400 border-400"
      ></i>
      <p class="mt-4 mb-0">Drag and drop files to here to upload.</p>
    </div>
  </ng-template>
</p-fileUpload>
