html {
  @apply text-base sm:text-sm;
}

h1 {
  @apply text-4xl my-2 font-semibold text-balance;
}

h4 {
  @apply font-semibold text-balance;
}

p {
  @apply mb-2 text-pretty dark:text-neutral-400;
}

i-tabler {
  width: 20px !important;
  height: 20px !important;
  display: grid !important;
  align-items: center !important;
}

.p-dialog-header-icons {
  @apply dark:hover:text-red-500 dark:focus:text-red-500 dark:focus-visible:text-red-500 focus:outline-none focus-visible:border-none transition-colors;
}

.p-dialog-title {
  @apply text-base;
}

input[type="text"] {
  @apply h-9 p-3;
}

label {
  @apply dark:text-neutral-400;
}

textarea {
  @apply min-h-[2.25rem] p-3;
}

.p-selectbutton .p-buttonset {
  @apply flex;
}
