html {
  font-size: 14px;
}

h1 {
  @apply text-4xl m-2 font-semibold text-balance;
}

p {
  @apply mx-2 mb-2 text-pretty;
}

i-tabler {
  width: 20px !important;
  height: 20px !important;
}

p-button.icon {
  @apply w-8 h-8 p-0 m-0 rounded-full grid place-items-center transition-colors cursor-pointer;

  &.danger {
    @apply dark:hover:bg-red-600/40;
  }
}
